*{
    margin: 0;
    padding: 0;
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 40%;
}
.container form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}